<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>Servlet.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>Servlet.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>Servlet.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>Servlet.TransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTransactionServlet</servlet-name>
        <servlet-class>Servlet.CreateTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTransactionServlet</servlet-name>
        <servlet-class>Servlet.DeleteTransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/createproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTransactionServlet</servlet-name>
        <url-pattern>/createtransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTransactionServlet</servlet-name>
        <url-pattern>/deletetransaction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
